# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
jspm_packages/

# TypeScript
*.tsbuildinfo
dist/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debugger configurations
.vscode/

# IDE specific files
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Mac system files
.DS_Store

# Optional REPL history
.node_repl_history

# Optional TernJS IDE configuration file
.tern-port